<!-- 

<app-rooms></app-rooms>
<app-container></app-container>
<app-employee></app-employee>
<-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'users'">
        hello user
    </div>
    <div *ngSwitchCase="'admin'">
        
    </div>
    <div *ngSwitchDefault>
        please sing
    </div>
</div> -->  

<!-- now using router for changing the view of the pages -->

<!-- 
<a routerLink="/rooms"> rooms</a>

<a routerLink="/employee"> employee</a>
<router-outlet></router-outlet> -->

<!-- now we are going to use anular material -->

<app-app-nav></app-app-nav>