
<!-- interpolation -->
<app-header></app-header>

<h1>welcome to {{hotelname}}</h1>


<!-- this is event binding -->
<div [hidden]="hiderooms" >


    <!-- this is property binding -->

    Number of rooms:
    <div [innerText]="number" [ngStyle]="{'color':  'green' }"></div>
</div>

<button (click)="toggle()">hide</button>

<div *ngIf="rooms.roomsAvail >0" ngClass="blue">
    
roomsAvail


<app-rooms-list [rooms]="roomsList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>


</div>


<div >
    <button (click)="addRoom()">add rooms</button>

</div>

